html{
    font-family: 'Open Sans';
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
  background-color: white;
  overflow-x: hidden;
}

nav{
  width: 100%;
  line-height: 60px;
  z-index: 2;
  background-color: white;
  -webkit-box-shadow: 0px 0px 8px 0px #000000; 
  box-shadow: 0px 0px 8px 0px #000000;
  vertical-align: center;
  text-align: right;
} 

#logoimage{
    width: 100%;
} 

.logo-container{
  width:30%;
  padding-left: 2em;
  float: left;
}

.desktopNav{
  display: inline-block;
  align-items: right !important;
}

.desktopNav a{
  color: rgb(163, 3, 3);
  text-decoration: none;
  font-size:15px;
  padding-right: 60px;
}

.desktopNav a:hover{
  cursor: grab;
}

.mobileNav{
  display: none;
}

#mobileNavSections{
  display: none;
  background-color: white;
  position: fixed;
  z-index: 1;
  top:0;
  margin-top: 60px;
  width:100%;
  height: flex;
}

#mobileNavSections a{
  display: block;
  color: rgb(163, 3, 3);
  margin: 10% 5% 10% 5%;
  text-decoration: none;
  font-size: 18px;
}

.content{
    width: 100%;
    height: auto;
    display: block;
    background-color: rgb(163, 3, 3);
    z-index: 1;
}

#headerText{
  padding: 5vh 10vh 5vh 5vh;
}

#headerText h2{
    padding-bottom: 1em;
    color: white;
    font-size: 1.8rem;
}

#headerText p{
    font-size: 1rem;
    color: white;
}

footer{
    text-align: center;
    background-color: white;
    height: auto;
  }
  
  footer img{
    padding: 15px 10px 10px 10px;
    vertical-align: middle;
    height: 45px;
  }

  footer p{
    font-size: 10px;
    color: rgb(163, 3, 3);
    padding: 1em;
  }
  
  footer a:hover{
    cursor: grab;
  }

#auctionSection{
  width: 100%;
  height: flex;
  display: block;
  background-color: white;
}

#auctionText{
  padding: 5vh 10vh 10vh 10vh;
}

#auctionText h2{
  padding-bottom: 1em;
  color:  rgb(163, 3, 3);
  font-size: 1.8rem;
}

#auctionText p{
  font-size: 1rem;
  color:  rgb(163, 3, 3);
}

#auction{
  -webkit-box-shadow: 0px 0px 8px 0px #000000; 
  box-shadow: 0px 0px 8px 0px #000000;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
}

.embed-responsive{
  padding-bottom: 100px;
  overflow: hidden;
}


#donationSection{
  background-color: rgb(163, 3, 3);
  display: block;
  padding: 5vh 10vh 5vh 10vh;
}

#donationSection h2{
  padding-bottom: 1em;
  color: white;
  font-size: 1.8rem;
}

#donationSection p{
  font-size: 1rem;
  color: white;
}

#CustomDonationsForm{
  padding-top: 5vh;
  color: white;
}

@media screen and (max-width: 1600px){
  #CustomDonationsForm{
    margin-left: auto;
    padding-top: 5vh;
  }
}

@media screen and (min-width: 800px){
  #mobileNavSections{
       display:none;
  }

  #mobileNavSections a{
    display:none;
  }
}

@media screen and (max-width: 768px){
  .logo-container{
      width:80%;
      padding-left: 15px;
  }

  .desktopNav{              /*hide desktop nav on phone version*/
    display: none;
  }

  nav{
    top:0;
    position: fixed;
    z-index: 2;
    background-color: white;
    margin:0;
  }

  .mobileNav{
    display: block;
    z-index: 2;
  }

  .mobileNav img{
    height: 15px;
    padding-right: 15px;
  }

  .mobileNav:hover{
    cursor: grab;
  }

  .content{
    margin-top: 60px;
  }

  #headerText{
    padding-top: 60px 5vh 60px 5vh;
  }

  #auctionText{
    padding: 60px 5vh 60px 5vh;
  }

  #donationSection{
    padding: 60px 5vh 60px 5vh;
  }
}